data/
.cache/
__pycache__
.mamba/
zones.geojson
.cache.old/
manual_input/.~lock.Glacier_zones.ods#
GIS/GlobalSurgeDetection.qgs~
output/
modules/earth_engine/credentials.json
modules/earth_engine/client_secrets.json
